<p style="color: red"><%=  flash[:alert] %></p>
<% content_for :title, "Update book" %>

<h1>Update book</h1>

<%= render "form" %>

<br>

<div>
  <%= link_to "Back to books", routes.path(:books) %>
</div>
