<h1>Bookshelf::Views::Books::Index</h1>
<p style="color: green"><%=  flash[:notice] %></p>

<% content_for :title, "Books" %>

<h1>Welcome to Rails Bookshelf</h1>

<div id="books">
  <% books.each do |book| %>
    <%= render "book", book: book %>
    <p>
      <% # TODO: we need to define show = link_to "Show this book", routes.book_show_path %>
    </p>
  <% end %>
</div>

<% # TODO: we need to define new = link_to "New book", routes.new_book_path %>
