<p style="color: green"><%= flash[:notice] %></p>

 <%= render "book", book: book %>

<div>
  <%# TODO: We need an edit action = link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", routes.path(:books) %>

  <%# TODO: we need a delete action = button_to "Destroy this book", @book, method: :delete %>
</div>
