<p style="color: green"><%= flash[:notice] %></p>

 <%= render "book", book: book %>

<div>
  <%= link_to "Edit this book", routes.path(:edit_book, id: book.id) %> |
  <%= link_to "Back to books", routes.path(:books) %>

  <%# TODO: we need a delete action = button_to "Destroy this book", @book, method: :delete %>
</div>
